* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 5000px;
}
.conteiner {
  width: 80%;
  margin: auto;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.632);
  position: sticky;
  top: 0;
}
.navbar .logo img {
  width: 100%;
  display: block;
}
.list ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 15px;
}
li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.portfolio {
  text-align: center;
  background-color: rgba(4, 249, 249, 0.681);
}
.portfolio-items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
}
.portfolio-item {
  width: 33.3%;
  padding-right: 5px;
}
.portfolio-item img {
  display: flex;
  width: 100%;
}
